@font-face {
    font-family: Medel;
    src: url("Medel.ttf");
}

* {
    font-family: Medel, sans-serif;
    font-size: 24px;
}

.red {
    color: deepskyblue;
    margin: 5px;
    font-size: 21px;
}
.purple {
    color: darkorchid;
}
.yellow {
    color: deepskyblue;
    border: white;
    border-style: solid;
    background-color: darkorchid;
    width: 20%;
    margin: auto;
}

body {
    background-color:#d7e4ff;
    text-align: center;
    margin: auto;
    max-width: 800px;
}

hr {
    width: 50%;
    color: white;
    border-width: 2px;
    border-style: solid;
}

.space {
    padding-bottom: 40px;
    padding-top: 40px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: darkorchid;
    border-top: 2px solid white;
}

.slideshowVisual
{
    display: none;
}

.slideshows
{
    max-width: 500px;
}
